<a href="https://colab.research.google.com/github/camilacruz-cs/DSA_Python_analise_de_dados/blob/main/Cap%C3%ADtulo%2006/%20Enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 6 - Função Enumerate</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.12

## Função Enumerate

A função enumerate() em Python é uma função que permite iterar sobre uma estrutura de dados (como uma lista, tupla ou outro objeto iterável). A função enumerate() retorna um objeto enumerado, que pode ser usado em loops para percorrer a estrutura de dados e acessar o contador e o valor de cada elemento.

In [2]:
# Criando uma lista
seq = ['a','b','c']

In [3]:
enumerate(seq)

In [4]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [5]:
# Imprimindo os valores de uma lista com a função enumerate() e seus respectivos índices
for indice, valor in enumerate(seq):
    print (indice, valor)

0 a
1 b
2 c

In [6]:
for indice, valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print (valor)

a
b

In [7]:
lista = ['Marketing', 'Tecnologia', 'Business']

In [8]:
for i, item in enumerate(lista):
    print(i, item)

0 Marketing
1 Tecnologia
2 Business

In [9]:
for i, item in enumerate('Data Science Academy'):
    print(i, item)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e
12
13 A
14 c
15 a
16 d
17 e
18 m
19 y

In [10]:
for i, item in enumerate(range(10)):
    print(i, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

# FIM

In [12]:
for i in enumerate('Camila Cruz'):
  print(i)

(0, 'C')
(1, 'a')
(2, 'm')
(3, 'i')
(4, 'l')
(5, 'a')
(6, ' ')
(7, 'C')
(8, 'r')
(9, 'u')
(10, 'z')

In [13]:
lista = [1,2,3,4,5,6,7,8,8,8,8,8,8,8]

for i, lista in enumerate(lista):
  print(i, lista)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 8
9 8
10 8
11 8
12 8
13 8

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>